/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Typography */
  body {
    font-family: 'Inter', sans-serif;
    color: var(--neutral-700);
    background-color: var(--neutral-000);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* color: var(--primary-900); */
    line-height: 1.2;
  }
  
  h1 {
    /* font-size: 56px; */
    font-weight: 800;
    letter-spacing: -1px;
  }
  
  h2 {
    /* font-size: 40px; */
    font-weight: 700;
    margin-bottom: 16px;
  }
  
  h3 {
    /* font-size: 24px; */
    font-weight: 600;
  }
  
  /* Utility Classes */
  .container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
  }
  
  .section-padding {
    padding: var(--section-padding) 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-accent {
    color: var(--secondary-900);
  }
  
  /* Background variants */
  .bg-light {
    background-color: var(--neutral-100);
  }
  
  .bg-dark {
    background-color: var(--primary-900);
    color: white;
  }
  
  /* Responsive Typography */
  @media (max-width: 768px) {
    h1 {
      font-size: 36px;
    }
    
    h2 {
      font-size: 28px;
    }
    
    h3 {
      font-size: 20px;
    }
  }